:root{
    --primary-color: #40A7B2;
    --main-bg-color: #d8e2e3;
    --accent-blue: #01144A;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    color: var(--primary-color);
}
header{
    display: flex;
    background-color: rgb(8, 8, 8);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}
header h1 a{
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 10px;
    color: rgb(8, 8, 8);
    margin-left: -20px;

}
header nav{
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
   
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
}
header a{
    color: var(--primary-color);
}
