:root{
    --primary-color: #DEE2E6;
    --main-bg-color: #212529;
    --accent-blue: #6C757C;
    --head-color: rgb(8, 8, 8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--primary-color);
    background-color: var(--main-bg-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#main{
    min-height: calc(100vh - 182px - 101px);
}
/* Header/Nav */
header{
    display: flex;
    background-color: rgb(8, 8, 8);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}
header h1 a{
    font-weight: bold;
    margin: 15px;
    color: var(--primary-color);
    font-weight: bolder;
}
header nav{
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
   
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
}
header a{
    color: var(--primary-color);
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
header a:visited{
    text-decoration: none;
}
/* Section Headings */
.section-heading{
    color: var(--primary-color);
    text-decoration: underline ;
    margin: 15px;
    text-align: center;
    font-size: 32px;
}

/* Hero */
.hero{
    background-image: url("../images/hero.bg.jpg");
    width: 100%;
    height: 100px;
 
}
.statement{
    color: var(--primary-color) ;
    text-align: center;
    margin: auto;
    padding: 35px 10px 0 0;
    text-decoration: wavy ;

}

/* About Me 
#about-me{

}*/

#about-me p{
    margin: 15px;
    text-align: center;
}
/* Projects/Work (Grid/Flexbox) */



/* Footer */
footer{
    background-color: var(--head-color);
    width:100%;
    bottom: 0;
}
footer h2{
    margin: 0;
    color: var(--main-bg-color);
    text-align: center;
    padding-top: 25px;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#contact ul li{
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}
#contact a{
    text-decoration: none;
    color: var(--primary-color);
}
#contact a:hover{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: bolder;
}
#contact a:visited{
    text-decoration: none;
    color: var(--primary-color);
}

/* Add Icons to Footer Links */

.fa-li{
    margin: 0px 3px
}